body {
    background-image: url('https://wallpapers.com/images/hd/abstract-monochrome-math-8b5n86kizec5xm8r.jpg');
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
}

.bloquePrincipal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.bloquePrincipal h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.bloquePrincipal input[type="text"] {
    margin-bottom: 10px;
}

.bloquePrincipal .btn {
    margin: 5px;
}

.ancho {
    width: 140px; /* Ancho fijo para los botones */
}


.form-group {
    position: relative;
    margin-top: 1.5rem;
}   
.form-group label {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -0.75rem;
    left: 0.75rem;
    padding: 0 0.25rem;
    font-size: 0.85rem;
    color: #495057;
}
.form-control {
    
    padding-top: 1.5rem;
}

/* responsivo */
@media (max-width: 767.98px) {
    .form-group label {
        top: -0.5rem;
        font-size: 0.75rem;
    }

    .ancho {
        width: 100px; /* Ancho fijo para los botones */
       
    }
    
}

/* boton */
.swal-button {
    padding: 7px 19px;
    border-radius: 5px;
    background-color: #0d6efd;
    color: #fff;
    font-size: 12px;
    border: 1px solid #0d6efd;
    width: 100px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
  
header{
    display: flex;
    width: 100%;
    background-color: black;
    align-items: center;
    h3{
        color: #fff;
        align-items: center;
    }

    img{
        height: 80px;
        align-items: center;
    }
}

header .col-md-2,
header .col-md-8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    padding: 5px 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
}   
